.visits {
  float: left;
  width: 13rem;
  height: 15rem;
  padding: 1rem;
  background-color: white;
}

.visits-graph {
  /* width: 5rem; */
  height: 55px;
  margin-top: 0;
  margin-bottom: 3rem;
}
